﻿@model SchoolOfRock.Web.Models.ScheduleSettingModel
@{
    Layout = "";
    int index = ViewBag.Index;
}

<tr>
    <td>
        <input asp-for="ScheduleList[index].Id" readonly class="form-control"/>
    </td>
    <td>
        @Model.ScheduleList[index].Traning.Name
        <input asp-for="ScheduleList[index].TraningId" hidden/>
    </td>
    <td>
        <input asp-for="ScheduleList[index].Date" class="form-control" />
    </td>
</tr>


