﻿@model SchoolOfRock.Core.Models.Traning
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Name;
}

<h2>@ViewData["Title"]</h2>
<hr />
<div>
    <div class="row">
        <label class="col-xs-2">ID</label>
        <div class="col-xs-10">@Model.Id</div>
    </div>
    <div class="row">
        <label class="col-xs-2">Название</label>
        <div class="col-xs-10">@Model.Name</div>
    </div>
    <div class="row">
        <label class="col-xs-2">Описание</label>
        <div class="col-xs-10">@Model.Description</div>
    </div>
    <div class="row">
        <label class="col-xs-2">Занятия</label>
        <div class="col-xs-10">
            <table class="table" id="schedule-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название курса</th>
                        <th>Дата/Время</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.Schedule)
                        {

                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Date</td>
                                <td>@Model.Name</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

}