﻿@model IEnumerable<SchoolOfRock.Core.Models.Traning>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Курсы";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <a asp-action="CreateOrEdit" asp-route-Id="0" class="btn btn-default">Добавить занятие</a>
</div>
<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="dataTables_wrapper">
            <table class="table table-striped table-bordered table-hover" id="traning-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>
                                    <a asp-action="Detail" asp-route-Id="@item.Id">Просмотреть</a> |
                                    <a asp-action="CreateOrEdit" asp-route-Id="@item.Id">Редактировать</a> |
                                    <a asp-action="ScheduleEdit" asp-route-Id="@item.Id">Настроить занятия</a> |
                                    <a asp-action="Delete" class="delete" data-post="@item.Id">Удалить</a> 
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
<hr />
@section Scripts{
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script>
        window.delayedFunction['set-traning-table'] = function ()
        {
            window.BrandTable = new TableObject('#traning-table');
        }
    </script>
}